@model DataLayer.Product_Groups

@{
    ViewBag.Title = "Edit";
}


@using (Ajax.BeginForm("Edit", "Product_Groups", FormMethod.Post, new AjaxOptions()
{
    OnSuccess = "Success" +
                "",
    UpdateTargetId = "ListGroup"
}))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.GroupId)
    @Html.HiddenFor(model => model.ParentId)
    <div class="form-group">
        @Html.LabelFor(model => model.GroupTitle, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.GroupTitle, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.GroupTitle, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" title="ویرایش" class="btn btn-warning">
                ویرایش
            </button>
        </div>
    </div>
</div>
}